<% include partials/header %>

  <div id="intro">
    <nav>
      <a href=""><img src="../img/logoWhite.png" alt="logo"></a>
      <div id="nav-rightside">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="#">About</a></li>
        </ul>

        <a href="upload" id="uploadBtn">Upload Dataset</a>
      </div>
    </nav>
    <div id="intro-text">
      <img src="../img/logoIcon.png" alt="">
      <h1 class="title is-1">Welcome to GROUP 4</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla odio purus, imperdiet eu purus in, semper eleifend justo. Nunc mollis urna urna, a mollis erat pulvinar id. Phasellus est arcu, maximus et aliquet vel, vulputate at lacus. </p>
    </div>
  </div>

</body>
</html>
